* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.container {
    width: 75rem;
    margin: 0 auto;
}

.header {
    height: 40rem;

    background-image: linear-gradient(-5.5deg, white 49.9%, transparent 50.1%),
    url('../images/pexels-benjamin-suter-3617500.jpg');
    background-repeat: no-repeat;
    background-position: center 100%, center center;
    background-size: 100vw 10vw, cover;
}

.icon {
    fill: currentColor;
    height: 1.25em;
}

.navigation__list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.navigation__list-item {
    list-style-type: none;
    display: block;
}



.navigation__list-item-link {
    display: block;
    color: white;
    text-decoration: none;
    padding: .25rem;
    margin: 2rem 2rem 0 2rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
}

.navigation__list-item-link:hover {
    border-bottom: .1rem solid rgb(0, 226, 156);
    color: lightgrey;
}

.navigation__list-item-logo {
    fill: currentColor;
    width: 4rem;
    height: 4rem;
}

.navigation__list-item:last-of-type {
    margin-left: auto;
}

.navigation__list-item-link.navigation__list-item-link--menu {
    position: relative;
    top: 0.3rem;
    font-size: 2.5rem;
}

.navigation__list-item-link--menu:hover,
.navigation__list-item-link--logo:hover {
    border-bottom: none;
}