@mixin border-radius($radius: 6px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin bg-transition($color, $duration) {
  background-color: $color;
  height: 250px;
  opacity: 0.5;
  width: 250px;
  transition: background-color $duration ease-in 0s,
  opacity $duration ease-in 0s,
  height $duration ease-in 0s,
  width $duration ease-in 0s;
}
