// klassischer CSS Import
@import 'vars';
@import 'mixins';


:root {
  box-sizing: border-box;
}

body {
  font-size: $base-fontsize;
  background-color: lighten($primary-color, 36);
}

.box-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

%box {
  $size: 200px;
  cursor: pointer;

  width: $size;
  height: $size;
  border-radius: 6px;
  background-color: $primary-color;
  margin: 0 auto .4rem;

  &:hover {
    background-color: lighten($primary-color, 27);
  }

  @media screen and (max-width: 760px) {
    width: $size - 100px;
    height: $size - 100px;
  }
}


.box1 {
  @extend %box;
  @include border-radius;
}

.box2 {
  @extend %box;
  background-color: lighten($primary-color, 14);
  @include border-radius;
}

.box3 {
  @extend %box;
  background-color: lighten($primary-color, 22);
}
