.contact {
    height: 100%;
    padding-top: 20vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
    linear-gradient(
        to right,
        rgba($primary-color, .85)
        rgba($primary-color, .2)
    ),
    url('../img/model-1.jpg') center top;
    background-size: cover;

    h2 {
        margin-bottom: 2rem;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-size: 1.5rem;
    }

    .social-icons {
        position: initial;
        margin: 2rem;
    }
    
    &__email,
    &__mobile,
    &__address * {
        line-height: 2.5rem;
    }
}